* {
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(177, 193, 255, .2);
}

.wrap {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: .5rem;

    background-color: snow;
    width: 60.2%;
    /* margin-top: 15rem; */
    margin: 6.14rem auto;


}



img:not(.hero) {
    display: block;
    margin: 10px;
    opacity: 0;
    transform: translate(5rem, 0);
    transition: all 2s ease;
}

.hero {
    /* display: block; */
    width: 100%;
    max-width: 100%;
    height: auto;
}

img:nth-of-type(even) {
    /* transition: all 5s ease; */
    transition-delay: .6s;
}

img:nth-of-type(3) {
    /* transition: all 5s ease; */
    transition-delay: 1.2s;
}

img:nth-of-type(4) {
    transition-delay: 1.8s;
}


  
  img.slideLeft {
    transform: translate(0rem, 0);
    opacity: 1;
  }


  
